<div class="row">
	<div class="col-md-12">
		<h2><%= @survey.name %></h2>

		<%= raw @survey.preface %>
	</div>
</div>
<br />


<div class="row">
	<div class="col-md-12">
		<%= form_tag [@survey, @answer_sheet],class: "form-inline", role: "form" do |f| %>
			<%= render "shared/error_messages", target: @answer_sheet %>

			<% @survey.questions.each_with_index do |question, q_index| %>
				<p class="question_title" data-question_category="<%=question.category%>"><strong><%= raw("<span class='label label-default'>#{q_index+1} #{question.category_name}</span>&nbsp;&nbsp;#{question.title}") %></strong></p>

				<%= render "answer_result_fields", answer_sheet: @answer_sheet, question: question, q_index: q_index %>
			<% end -%>

			<br />

			<div class="actions">
				<%= submit_tag "提交", data: {disable_with: "提交中ing"}, class: "btn btn-primary btn-block" %>
			</div>
		<% end %>
	</div>
</div>

<%= javascript_tag do %>
	load_question_category_style();
<% end %>
