<%= form_for(@answer_result) do |f| %>
  <% if @answer_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer_result.errors.count, "error") %> prohibited this answer_result from being saved:</h2>

      <ul>
      <% @answer_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survey_id %><br>
    <%= f.number_field :survey_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
