<div class="form-group">
  <div class="col-md-1"> </div>
  <%= f.label :title, "回答", class: "control-label col-md-1" %>
  <div class="col-md-4">
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="col-md-1">
    <div class="checkbox">
      <%= f.label :need_comment do %>
        <%= f.check_box :need_comment %>填写
      <% end -%>
    </div>
  </div>
  <div class="col-md-1">
    <%= f.link_to_remove raw("<i class='icon-remove'></i>删除"), class: "btn btn-danger" %>
  </div>
</div>
